<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="ProductComponents">

      <ComponentRef Id="MainAppShortcut"/>

    </ComponentGroup>

    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="MainAppShortcut" Guid="{C708EB2F-7528-43C1-9319-7C839547B313}">
        <Shortcut Id="ShortcutMainAppShortcut"
                  Name="!(loc.ProductName)"
                  Target="[INSTALLFOLDER]PDFExtractor.exe"
                  Directory="ProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="appicon"/>
        <RegistryValue Id="RegShortcutKey"
                       Root="HKCU"
                       Key="SOFTWARE\!(loc.ProductFolderName)"
                       Name="Shortcut"
                       Value="1"
                       Type="integer"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>
