<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramMenuFolder">

      </Directory>

      <!-- Installation folder-->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MakerFolder" Name="!(loc.MakerName)">
          <Directory Id="INSTALLFOLDER" Name="!(loc.ProductFolderName)" />
        </Directory>
      </Directory>
    </Directory>
	  
    <!-- Redirect installation folder to local app data folder (for per user non-admin install)-->
    <SetProperty Id="ProgramFilesFolder" Value="[LocalAppDataFolder]" Before="CostFinalize"><![CDATA[NOT Privileged]]></SetProperty>
  </Fragment>
  
</Wix>
