<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- NOTE: loc-variables are located in Common.wxl -->
	
  <!-- Fixed upgrade code -->
  <?define UpgradeCode = {78C882A4-9A3D-4E83-A0B8-D839E7C4031C}?>
    
	<!-- Product information -->
  <Product Id="*"
           Name="!(loc.ProductName)"
           Language="1033"
           Codepage="1257"
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.MakerName)"
           UpgradeCode="$(var.UpgradeCode)">

    <!-- Package information -->
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perUser"
             InstallPrivileges="limited"
             Manufacturer="!(loc.MakerName)"
             Description="!(loc.Description)"
			 Comments="$(var.BuildVersion)"
             Keywords="!(loc.Keywords)"
             />

    <!-- Downgrade error message -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeMessage)"/>

    <!-- Embed archive file -->
    <MediaTemplate EmbedCab="yes"/>

    <!-- Application icon -->
    <Icon Id="appicon" SourceFile="$(var.Opus.ProjectDir)\logocx.ico"/>
	  
    <!-- Use application icon for installer -->
    <Property Id="ARPPRODUCTICON">appicon</Property>

	<!-- Launch the application when exiting installer-->
    <Property Id="LAUNCH_APP_ON_EXIT" Value="1" />
	  
    <Property Id="UPDATING_AUTOMATICALLY" Value ="0" />

    <!-- UI base, images and license
    <UIRef Id="WixUI_Minimal"/> -->
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\InstallBackground.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>

    <!-- Define components, shortcuts, files etc... -->
    <Feature Id="ProductFeature" Title="Opus" Level="1">
      <ComponentGroupRef Id="PublishedComponents"/>
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>
	  
	<Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]Opus.exe" />
	<CustomAction Id="LaunchApplication" 
        BinaryKey="WixCA" 
        DllEntry="WixShellExec"
        Impersonate="yes" />

<!-- UI definitions -->
<UI Id="WixUI_Minimal">
	
	<!-- Fonts-->
    <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
    <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
    <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
    <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
	
	<!-- General style of the installer -->
    <Property Id="WixUI_Mode" Value="Minimal" />

	<!-- Include standard dialogs -->
    <DialogRef Id="ErrorDlg" />
    <DialogRef Id="FatalError" />
    <DialogRef Id="FilesInUse" />
    <DialogRef Id="MsiRMFilesInUse" />
    <DialogRef Id="PrepareDlg" />
    <DialogRef Id="ProgressDlg" />
    <DialogRef Id="ResumeDlg" />
    <DialogRef Id="UserExit" />
    <DialogRef Id="WelcomeDlg" /> 

	<!-- Custom dialog sequence -->
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>

	<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">LAUNCH_APP_ON_EXIT</Publish>
	
	<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

    <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

    <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

    <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
	
    <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
	
    <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

    <Property Id="ARPNOMODIFY" Value="1" />
  </UI>

  <UIRef Id="WixUI_Common" />

	  <InstallExecuteSequence>
		  <Custom Action='LaunchApplication' After='InstallFinalize'>UPDATING_AUTOMATICALLY = 1</Custom>
	  </InstallExecuteSequence>
	  
  </Product>
</Wix>
